/*base全局开始*/
body{margin:0 auto;padding:0;font:14px "微软雅黑", Arial, Helvetica, sans-serif;overflow-x:hidden;}
/*img, input{border:none;}*/
img{vertical-align: middle;}
ul, li, ol, p, h1, h2, h3, img, a, form, input, button{margin:0;padding:0;}
ul, ol{list-style:none;}
/* ul{margin-left:20px;} */
a{outline:none;text-decoration:none;color:#069;/*深蓝*/}
a:hover{text-decoration:none;color:#06f;/*亮蓝*/}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
button, html input[type=button], input[type=reset], input[type=submit] {cursor: pointer;}
*,*:before,*:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;outline: none;}
.caret{display: inline-block;width: 0;height: 0;margin-left: 2px;vertical-align: middle;border-top: 4px dashed;border-top: 4px solid \9;border-right: 4px solid transparent;border-left: 4px solid transparent;}
.pull-left{float: left !important;}
.pull-right{float: right !important;}
.img-circle{border-radius: 50%;}
.img-responsive{max-width: 100%;height: auto;}
.small {font-size: 85%;}
.fade{opacity: 0;-webkit-transition: opacity .15s linear;-o-transition: opacity .15s linear;transition: opacity .15s linear;}
.fade.in{opacity: 1;}
.tab-content > .tab-pane{display: none;visibility: hidden;}
.tab-content > .active{display: block;visibility: visible;}
hr{margin-top: 20px;margin-bottom: 20px;border: 0; border-top: 1px solid #eee;}
.text-primary {color: #009587;}
.text-center {text-align: center;}
.label{display: inline;padding: .2em .6em .3em;font-size: 75%;font-weight: bold;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;border-radius: 4px;}
.label-primary { background-color: #009587;}
input {
    line-height: normal;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color:inherit;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type=radio], input[type=checkbox] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
fieldset {min-width: 0;padding: 0;margin: 0;border: 0;}
label {display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;}
select {-webkit-appearance: menulist;align-items: center; white-space: pre;-webkit-rtl-ordering: logical; background-color: white;cursor: default; border-width: 1px;border-style: solid;border-radius: 0px;border-color: rgb(169, 169, 169);margin: 0;font: inherit;color: inherit;}
/*base全局结束*/

/*栅格系统开始*/
@media (min-width: 768px){.container{width: 750px;}} @media (min-width: 992px){.container{width: 970px;}} @media (min-width: 1200px){.container{width: 1170px;}}
.container,.container-fluid {margin:0 auto;padding:0 15px;}
.row{margin:0 -15px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{position: relative;min-height: 1px;padding-left: 15px;padding-right: 15px;}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{float: left;}
.col-xs-1{width: 8.33333%;}
.col-xs-2{width: 16.66667%;}
.col-xs-3{width: 25%;}
.col-xs-4{width: 33.33333%;}
.col-xs-5{width: 41.66667%;}
.col-xs-6{width: 50%;}
.col-xs-7{width: 58.33333%;}
.col-xs-8{width: 66.66667%;}
.col-xs-9{width: 75%;}
.col-xs-10{width: 83.33333%;}
.col-xs-11{width: 91.66667%;}
.col-xs-12{width: 100%;}
.col-xs-pull-0{right: auto;}
.col-xs-pull-1{right: 8.33333%;}
.col-xs-pull-2{right: 16.66667%;}
.col-xs-pull-3{right: 25%;}
.col-xs-pull-4{right: 33.33333%;}
.col-xs-pull-5{right: 41.66667%;}
.col-xs-pull-6{right: 50%;}
.col-xs-pull-7{right: 58.33333%;}
.col-xs-pull-8{right: 66.66667%;}
.col-xs-pull-9{right: 75%;}
.col-xs-pull-10{right: 83.33333%;}
.col-xs-pull-11{right: 91.66667%;}
.col-xs-pull-12{right: 100%;}
.col-xs-push-0{left: auto;}
.col-xs-push-1{left: 8.33333%;}
.col-xs-push-2{left: 16.66667%;}
.col-xs-push-3{left: 25%;}
.col-xs-push-4{left: 33.33333%;}
.col-xs-push-5{left: 41.66667%;}
.col-xs-push-6{left: 50%;}
.col-xs-push-7{left: 58.33333%;}
.col-xs-push-8{left: 66.66667%;}
.col-xs-push-9{left: 75%;}
.col-xs-push-10{left: 83.33333%;}
.col-xs-push-11{left: 91.66667%;}
.col-xs-push-12{left: 100%;}
.col-xs-offset-0{margin-left: 0%;}
.col-xs-offset-1{margin-left: 8.33333%;}
.col-xs-offset-2{margin-left: 16.66667%;}
.col-xs-offset-3{margin-left: 25%;}
.col-xs-offset-4{margin-left: 33.33333%;}
.col-xs-offset-5{margin-left: 41.66667%;}
.col-xs-offset-6{margin-left: 50%;}
.col-xs-offset-7{margin-left: 58.33333%;}
.col-xs-offset-8{margin-left: 66.66667%;}
.col-xs-offset-9{margin-left: 75%;}
.col-xs-offset-10{margin-left: 83.33333%;}
.col-xs-offset-11{margin-left: 91.66667%;}
.col-xs-offset-12{margin-left: 100%;}
@media (min-width: 768px){.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{float: left;}
.col-sm-1{width: 8.33333%;}
.col-sm-2{width: 16.66667%;}
.col-sm-3{width: 25%;}
.col-sm-4{width: 33.33333%;}
.col-sm-5{width: 41.66667%;}
.col-sm-6{width: 50%;}
.col-sm-7{width: 58.33333%;}
.col-sm-8{width: 66.66667%;}
.col-sm-9{width: 75%;}
.col-sm-10{width: 83.33333%;}
.col-sm-11{width: 91.66667%;}
.col-sm-12{width: 100%;}
.col-sm-pull-0{right: auto;}
.col-sm-pull-1{right: 8.33333%;}
.col-sm-pull-2{right: 16.66667%;}
.col-sm-pull-3{right: 25%;}
.col-sm-pull-4{right: 33.33333%;}
.col-sm-pull-5{right: 41.66667%;}
.col-sm-pull-6{right: 50%;}
.col-sm-pull-7{right: 58.33333%;}
.col-sm-pull-8{right: 66.66667%;}
.col-sm-pull-9{right: 75%;}
.col-sm-pull-10{right: 83.33333%;}
.col-sm-pull-11{right: 91.66667%;}
.col-sm-pull-12{right: 100%;}
.col-sm-push-0{left: auto;}
.col-sm-push-1{left: 8.33333%;}
.col-sm-push-2{left: 16.66667%;}
.col-sm-push-3{left: 25%;}
.col-sm-push-4{left: 33.33333%;}
.col-sm-push-5{left: 41.66667%;}
.col-sm-push-6{left: 50%;}
.col-sm-push-7{left: 58.33333%;}
.col-sm-push-8{left: 66.66667%;}
.col-sm-push-9{left: 75%;}
.col-sm-push-10{left: 83.33333%;}
.col-sm-push-11{left: 91.66667%;}
.col-sm-push-12{left: 100%;}
.col-sm-offset-0{margin-left: 0%;}
.col-sm-offset-1{margin-left: 8.33333%;}
.col-sm-offset-2{margin-left: 16.66667%;}
.col-sm-offset-3{margin-left: 25%;}
.col-sm-offset-4{margin-left: 33.33333%;}
.col-sm-offset-5{margin-left: 41.66667%;}
.col-sm-offset-6{margin-left: 50%;}
.col-sm-offset-7{margin-left: 58.33333%;}
.col-sm-offset-8{margin-left: 66.66667%;}
.col-sm-offset-9{margin-left: 75%;}
.col-sm-offset-10{margin-left: 83.33333%;}
.col-sm-offset-11{margin-left: 91.66667%;}
.col-sm-offset-12{margin-left: 100%;}}
@media (min-width: 992px){.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
.col-md-1{width: 8.33333%;}
.col-md-2{width: 16.66667%;}
.col-md-3{width: 25%;}
.col-md-4{width: 33.33333%;}
.col-md-5{width: 41.66667%;}
.col-md-6{width: 50%;}
.col-md-7{width: 58.33333%;}
.col-md-8{width: 66.66667%;}
.col-md-9{width: 75%;}
.col-md-10{width: 83.33333%;}
.col-md-11{width: 91.66667%;}
.col-md-12{width: 100%;}
.col-md-pull-0{right: auto;}
.col-md-pull-1{right: 8.33333%;}
.col-md-pull-2{right: 16.66667%;}
.col-md-pull-3{right: 25%;}
.col-md-pull-4{right: 33.33333%;}
.col-md-pull-5{right: 41.66667%;}
.col-md-pull-6{right: 50%;}
.col-md-pull-7{right: 58.33333%;}
.col-md-pull-8{right: 66.66667%;}
.col-md-pull-9{right: 75%;}
.col-md-pull-10{right: 83.33333%;}
.col-md-pull-11{right: 91.66667%;}
.col-md-pull-12{right: 100%;}
.col-md-push-0{left: auto;}
.col-md-push-1{left: 8.33333%;}
.col-md-push-2{left: 16.66667%;}
.col-md-push-3{left: 25%;}
.col-md-push-4{left: 33.33333%;}
.col-md-push-5{left: 41.66667%;}
.col-md-push-6{left: 50%;}
.col-md-push-7{left: 58.33333%;}
.col-md-push-8{left: 66.66667%;}
.col-md-push-9{left: 75%;}
.col-md-push-10{left: 83.33333%;}
.col-md-push-11{left: 91.66667%;}
.col-md-push-12{left: 100%;}
.col-md-offset-0{margin-left: 0%;}
.col-md-offset-1{margin-left: 8.33333%;}
.col-md-offset-2{margin-left: 16.66667%;}
.col-md-offset-3{margin-left: 25%;}
.col-md-offset-4{margin-left: 33.33333%;}
.col-md-offset-5{margin-left: 41.66667%;}
.col-md-offset-6{margin-left: 50%;}
.col-md-offset-7{margin-left: 58.33333%;}
.col-md-offset-8{margin-left: 66.66667%;}
.col-md-offset-9{margin-left: 75%;}
.col-md-offset-10{margin-left: 83.33333%;}
.col-md-offset-11{margin-left: 91.66667%;}
.col-md-offset-12{margin-left: 100%;}}
@media (min-width: 1200px){.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{float: left;}
.col-lg-1{width: 8.33333%;}
.col-lg-2{width: 16.66667%;}
.col-lg-3{width: 25%;}
.col-lg-4{width: 33.33333%;}
.col-lg-5{width: 41.66667%;}
.col-lg-6{width: 50%;}
.col-lg-7{width: 58.33333%;}
.col-lg-8{width: 66.66667%;}
.col-lg-9{width: 75%;}
.col-lg-10{width: 83.33333%;}
.col-lg-11{width: 91.66667%;}
.col-lg-12{width: 100%;}
.col-lg-pull-0{right: auto;}
.col-lg-pull-1{right: 8.33333%;}
.col-lg-pull-2{right: 16.66667%;}
.col-lg-pull-3{right: 25%;}
.col-lg-pull-4{right: 33.33333%;}
.col-lg-pull-5{right: 41.66667%;}
.col-lg-pull-6{right: 50%;}
.col-lg-pull-7{right: 58.33333%;}
.col-lg-pull-8{right: 66.66667%;}
.col-lg-pull-9{right: 75%;}
.col-lg-pull-10{right: 83.33333%;}
.col-lg-pull-11{right: 91.66667%;}
.col-lg-pull-12{right: 100%;}
.col-lg-push-0{left: auto;}
.col-lg-push-1{left: 8.33333%;}
.col-lg-push-2{left: 16.66667%;}
.col-lg-push-3{left: 25%;}
.col-lg-push-4{left: 33.33333%;}
.col-lg-push-5{left: 41.66667%;}
.col-lg-push-6{left: 50%;}
.col-lg-push-7{left: 58.33333%;}
.col-lg-push-8{left: 66.66667%;}
.col-lg-push-9{left: 75%;}
.col-lg-push-10{left: 83.33333%;}
.col-lg-push-11{left: 91.66667%;}
.col-lg-push-12{left: 100%;}
.col-lg-offset-0{margin-left: 0%;}
.col-lg-offset-1{margin-left: 8.33333%;}
.col-lg-offset-2{margin-left: 16.66667%;}
.col-lg-offset-3{margin-left: 25%;}
.col-lg-offset-4{margin-left: 33.33333%;}
.col-lg-offset-5{margin-left: 41.66667%;}
.col-lg-offset-6{margin-left: 50%;}
.col-lg-offset-7{margin-left: 58.33333%;}
.col-lg-offset-8{margin-left: 66.66667%;}
.col-lg-offset-9{margin-left: 75%;}
.col-lg-offset-10{margin-left: 83.33333%;}
.col-lg-offset-11{margin-left: 91.66667%;}
.col-lg-offset-12{margin-left: 100%;}}
/*栅格系统结束*/
/*全局class开始*/
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.panel-body:before,
.panel-body:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after{display: table;content: " ";}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.panel-body:after,
.nav:after,
.navbar:after,
.navbar-header:after{clear: both;}
.form-horizontal .form-group:after,
.btn-group-vertical > .btn-group:after{clear:both;}

/*导航*/
@media (min-width: 1240px){.container{width: 1240px;}}
.container > .navbar-header,
.container > .navbar-collapse{margin-right: -15px;margin-left: -15px;}
@media (min-width: 768px){.container > .navbar-header, .container > .navbar-collapse{margin-right: 0;margin-left: 0;}}
@media (min-width: 768px){.navbar-header{float: left;}}
.navbar-header:before, .navbar-header:after{content: " ";display: table;}
.nav {padding-left: 0;margin-bottom: 0;list-style: none;}
.nav > li{position: relative;display: block;}
.nav > li > a{position: relative;display: block;padding: 10px 15px;color: #fff;}
.nav>li>a:hover, .nav>li>a:focus {text-decoration: none;background-color: #fff;color:#009587;}
.nav>li>a>img {max-width: none;}
.navbar-nav{margin: 7.5px -15px;}
.navbar-nav > li > a { font-size: 16px;color:#fff;position: relative;display: block;padding: 20px 15px;line-height: 20px;}
.navbar .navbar-nav>li>a:hover,.navbar .navbar-nav>li>a:focus{color:rgba(255,255,255,.84);background-color:transparent}
.navbar .navbar-nav>.open>a,.navbar .navbar-nav>.open>a:hover,.navbar .navbar-nav>.open>a:focus{background-color:rgba(0,0,0,.05);color:rgba(255,255,255,.84)}
@media (max-width: 1199px){.navbar .navbar-nav>li>a{padding-top: 15px;padding-bottom: 15px;}}
@media (min-width: 768px){.navbar-nav{float: left;margin: 0;}.navbar-nav > li{float: left;}.navbar-nav > li > a{padding-top: 15px;padding-bottom: 15px;}}
@media (min-width: 768px){.navbar-right{float: right !important; margin-right: -15px;}}
@media (min-width: 768px){.navbar-right .dropdown-menu {right: 0;left: auto;}}

/*logo*/
@media (max-width: 1199px){.navbar .navbar-brand{padding: 8px 15px;height:50px;}.navbar .navbar-brand >img{height: 34px;}}
.navbar {background-color: #00796b;z-index:1000;top:0;left:0;right:0;position: fixed;min-height: 50px;padding-left: 0;}
.navbar .navbar-brand{position: relative;line-height: 30px;float: left;padding:10px;height: 50px;}
/*导航按钮*/
@media (min-width: 768px){.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{margin-left: -15px;}}
@media (min-width: 768px){.navbar-toggle{display: none;}}
.navbar-toggle{position: relative;float: right;padding: 9px 10px;margin:8px 15px 8px 0;width: 42px;height: 32px;background:none;border:none;}
.navbar-toggle span,.navbar-toggle span:before,.navbar-toggle span:after{top:8px;position: absolute;display: block;content: ' ';width: 22px;height: 2px;background:#fff;border-radius: 10px;}
.navbar-toggle span:before{top:6px;}
.navbar-toggle span:after{top:12px;}
/*导航折叠样式*/
.navbar-collapse{overflow-x: visible;padding-right: 15px;padding-left: 15px;border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);-webkit-overflow-scrolling: touch;/*overflow-y: auto;*/max-height: 340px;}
.navbar-collapse:before, .navbar-collapse:after{content: " ";display: table;}
.navbar-collapse:after{clear: both;}
.navbar-collapse.in{overflow-y: auto;}
.collapse{display: none;visibility: hidden;}
.collapse.in{display: block;visibility: visible;}
@media (min-width: 768px){.navbar-collapse{width: auto;border-top: 0;-webkit-box-shadow: none;box-shadow: none;}
.navbar-collapse.collapse{display: block !important;height: auto !important;padding-bottom: 0;overflow: visible !important;visibility: visible !important;}
.navbar-collapse.in{overflow-y: visible;}
.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{padding-right: 0;padding-left: 0;}}

/*导航下拉样式*/
@media (max-width: 767px){.navbar-nav .open .dropdown-menu{position: static;float: none;width: auto;margin-top: 0;background-color: transparent;border: 0;box-shadow: none;}
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header{padding: 5px 15px 5px 25px;}
.navbar-nav .open .dropdown-menu > li > a{line-height: 20px;}
.navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus{background-image: none;}}
.dropdown-menu{position: absolute;top: 100%;left: 0;z-index: 1000;display: none;float: left;min-width: 160px;padding: 15px 0;margin: 2px 0 0;font-size: 14px;text-align: left;list-style: none;background-color: #fff;-webkit-background-clip: padding-box;background-clip: padding-box;border:0;box-shadow:0 2px 5px 0 rgba(0,0,0,.26)}
.dropdown-menu li{overflow: hidden;position: relative;}
.dropdown-menu>li>a {display: block;padding: 3px 20px;
    clear: both;font-weight: 400;line-height: 1.42857143;color: #333;white-space: nowrap;}
.dropdown-menu li a:hover {background-color: transparent;color: #009587;}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {color: #fff;text-decoration: none;background-color: #428bca;outline: 0;}
.block-dropmenu{min-width: 250px}
.open > .dropdown-menu{display: block;}
.navbar-nav > li > .dropdown-menu{margin-top: 0;border-top-left-radius: 0;border-top-right-radius: 0;}
.dropdown-header{display: block;padding: 3px 20px;font-size: 12px;line-height: 1.42857143;color: #777;white-space: nowrap;}
.block-dropmenu-item li.dropdown-header{padding: 0; font-size: 14px;}
.block-dropmenu-item li a{display: block; width: 100%; color: #333;}
.block-dropmenu-item li.dropdown-header a{line-height: 1.2em; padding: 3px 20px; border-left: 8px solid #009688;}
.list-inline{padding-left: 0;margin-left: 16px;list-style: none;}
.list-inline > li{display: inline-block;padding:0;}
.block-dropmenu-item .list-inline>li a{padding: 3px 12px; font-size: 12px;}
.dropdown-menu .divider{height: 1px;margin: 9px 0;overflow: hidden;background-color: rgba(229,229,229,.48);}

/*导航登录按钮*/
.btn-group,.btn-group-vertical{position:relative;border-radius:2px;margin:10px 1px;box-shadow:0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);-webkit-transition:box-shadow .28s cubic-bezier(.4,0,.2,1);transition:box-shadow .28s cubic-bezier(.4,0,.2,1);display: inline-block;vertical-align: middle;}
.btn{display: inline-block;padding:8px 30px;margin: 0;font-size: 14px;font-weight: normal;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border:0;border-radius: 2px;text-decoration: none;color: rgba(255,255,255,.84);}
.btn:hover, .btn:focus, .btn.focus {color: #333;  text-decoration: none;}
.btn:not([class^="btn btn-"]), .btn-default {
    color: rgba(0,0,0,.84);}
.btn:hover:not(.btn-link):not(.btn-flat) {box-shadow: 0 6px 10px rgba(0,0,0,.23), 0 10px 30px rgba(0,0,0,.19);}
.btn-group > .btn,.btn-group-vertical > .btn{position: relative;float: left;}
.btn-group .btn, .btn-group-vertical .btn, .btn-group .btn:active, .btn-group-vertical .btn:active, .btn-group .btn-group, .btn-group-vertical .btn-group {  box-shadow: none!important;margin: 0;}
.btn-default {background-color: #fff;border-color: #ccc; margin: 10px 0;}
.btn-primary:not(.btn-link):not(.btn-flat){background-color:#009587}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {color: #fff;
    background-color: #3071a9;border-color: #285e8e;}
.btn-info:not(.btn-link):not(.btn-flat){background-color:#03a9f4;}
/*查看演示按钮*/
.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {color: #fff; background-color: #31b0d5;border-color: #269abc;}
/*报错按钮*/
.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {color: #fff;background-color: #c9302c;border-color: #ac2925;}
/*立即下载按钮*/
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {color: #fff;
    background-color: #449d44;border-color: #398439;}

/*全局面板*/
.panel{border-radius:2px;border:0;box-shadow:0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12);margin-bottom: 20px;background: #fff;}
.panel-body{padding: 10px 15px;}
.panel-heading{padding: 10px 15px;border-bottom: 1px solid transparent;border-top-left-radius: 3px;border-top-right-radius: 3px;color:#000;}
.panel>.panel-heading>.panel-title { border-left: 4px solid #009688; margin-left: -15px; padding-left: 11px;font-size:16px;}
.panel-title {margin-top: 0;margin-bottom: 0;font-size: 16px;color: inherit;}
.panel-footer {background-color: #ececec;padding: 10px 15px;border-top: 1px solid #ddd;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;text-align: center;}

/*最热最新下载tab*/
.panel-primary>.panel-heading {background-color: #03a9f4;border-bottom: 0;}
.panel-primary .nav-tabs { background-color: #03a9f4;}
.nav-tabs {background: #009587;border-bottom: 1px solid #ddd;}
.nav-tabs>li {float: left;margin-bottom: -1px;}
.nav-tabs>li.active { border-bottom: 3px solid #ffc107;}
.nav-tabs>li>a,.nav-tabs>li>a:hover,.nav-tabs>li>a:focus{background-color:transparent!important;border:0!important;color:#fff!important;font-weight:500}

/*分页*/
.pagination{display: inline-block;padding-left: 0;margin: 20px 0;border-radius: 4px;}
.pagination > li{display: inline;}
.pagination > li > a,
.pagination > li > span{position: relative;float: left;padding: 6px 12px;margin-left: -1px;line-height: 1.42857143;color: #337ab7;text-decoration: none;background-color: #fff;border: 1px solid #ddd;}
.pagination > li:first-child > a,
.pagination > li:first-child > span{margin-left: 0;border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.pagination > li:last-child > a,
.pagination > li:last-child > span{border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus{color: #23527c;background-color: #eee;border-color: #ddd;}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{z-index: 2;color: #fff;cursor: default;background-color: #337ab7;border-color: #337ab7;}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus{color: #777;cursor: not-allowed;background-color: #fff;border-color: #ddd;}

/*社区交流页nav*/
.nav-pills{background-color: #03a9f4;}
.nav-pills>li {float: left;}
.nav-pills>li>a {margin-left: 10px;}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {color: #009587;background-color: #fff;}

/*media*/
.media{margin-top: 15px;}
.media:first-child{margin-top: 0;}
.media,
.media-body{overflow: hidden;zoom: 1;}
.media-body{width: 10000px;}
.media-object{display: block;}
.media-right,
.media > .pull-right{padding-left: 10px;}
.media-left,
.media > .pull-left{padding-right: 10px;}
.media-left,
.media-right,
.media-body{display: table-cell;vertical-align: top;}
.media-middle{vertical-align: middle;}
.media-bottom{vertical-align: bottom;}
.media-heading{margin-top: 0;margin-bottom: 5px;}
.media-list{padding-left: 0;list-style: none;}

/*list*/
.list-inline{padding-left: 0;margin-left: -5px;list-style: none;}
.list-inline > li{display: inline-block;padding-right: 5px;padding-left: 5px;}
/*list-group*/
.list-group {border-radius: 0;padding-left: 0;
    margin-bottom: 20px;}
.list-group .list-group-item {background-color: transparent;overflow: hidden;border: 0;border-radius: 0;padding: 0 16px;}
.list-group-item {position: relative;display: block;
    padding: 10px 15px;margin-bottom: -1px;background-color: #fff;border: 1px solid #ddd;}
.list-group-item-heading { font-size: 12px; font-weight: bold; line-height: 20px; color: #333;margin-top: 0;margin-bottom: 5px;}
.list-group-item-text { font-size: 12px; line-height: 1.5em; margin-bottom: 5px; color: #999;}
/*列表页当前位置*/
.breadcrumb {line-height:14px;background: none;color:#fff;font-weight: bold;margin:20px 0;padding:0 0 0 10px;border-radius:0; border-left:4px solid #fff;}
/*form-control*/
.form-control {display: block;width: 90%;height: 34px;
    padding: 6px 12px;margin-bottom: 10px; font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;
    background-image: none;border: 1px solid #ccc;  border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;float: none;border: 0;
    box-shadow: none;border-radius: 0; background: transparent;border-bottom: 1px solid #757575;}
textarea.form-control {height: auto;}

/*form-horizontal*/
.form-horizontal{margin-left: 15px;}
.form-horizontal .form-group {margin-right: -15px;  margin-left: -15px;}
.form-group {margin-bottom: 15px;}
@media (min-width: 768px){.form-horizontal .control-label {padding-top: 7px;margin-bottom: 0;   text-align: right;}}
.form-horizontal .radio {margin-bottom: 10px;}
.form-horizontal .radio, .form-horizontal .checkbox {   min-height: 27px;}
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {padding-top: 7px;margin-top: 0;  margin-bottom: 0;}
.radio label, .checkbox label {min-height: 20px; padding-left: 20px;margin-bottom: 0;font-weight: 400;cursor: pointer;}
.radio label {cursor: pointer;padding-left: 45px;position: relative;}
.radio input[type=radio] {display: none;}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;width: 1%;
    white-space: nowrap;
    vertical-align: middle;display: table-cell;
}
/*全局class结束*/

/*网站全局开始*/
body,h1,h2,h3,h4,h5,h6{font-weight: 300;}
body{display: flex;display: -webkit-flex;min-height: 100vh;flex-direction: column;}/*固定底部*/
.body-bg { background-color: #009688; width: 100%; height: 345px; position: fixed; top: 0; z-index: -1;}
a,a:hover{color:#009587;}
.on-right { margin-right: 5px;}
.on-left {margin-left:5px;}
.on-center{ margin-left: 15px; font-size: 18px;}
.mt-20 {margin-top: 20px;}
/*网站全局结束*/
/*home-index样式开始*/
.lightSlider .slider-title {background-color: rgba(0,0,0,0.64); background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.8)), color-stop(50%, rgba(0,0,0,0.5)));position:absolute;bottom:0;left:0;right: 0;padding:15px 20px; color: #fff; font-size: 18px;}
.lightSlider .slider-title-xs { background-color: rgba(0,0,0,0.64);position:absolute;bottom:0;left:0;right: 0; font-size: 16px; color: #fff; padding: 5px 10px;}
.csAction>a { background: none !important; font-family: "termor"; font-size: 48px; height: 48px !important; width: 48px !important; line-height: 48px;}
.csAction>a:hover { text-decoration: none;}
.csAction>.csPrev:before { content: "\e628";}
.csAction>.csNext:before { content: "\e629";}
#index-news-slider-container { padding-bottom: 15px;}
#index-news-slider a { color: #009587;}
#index-news-slider>li>a { display: block;}
#index-news-slider>li>a img { width: 100%;max-height: 210px;}
#index-news-slider-container .csPager {display: none;}
#index-news-slider>li>a img { width: 100%;max-height: 210px;}
#index-banner-container .csSlideOuter { position: relative;}
#index-banner-container .csSlideOuter .csPager.cSpg { margin: 0; padding: 0; position: absolute; z-index: 11; bottom: 20px; width: 100%;}
#index-banner>li,#index-banner>li>a>img { width: 100%;}
#index-banner>li>a{display: block;}
/*网页特效*/
.panel-title .title-main { background-color: #666; color: #fff; font-size: 18px; font-family: "黑体"; font-weight: bold; display: inline-block; padding: 8px 15px; margin-left: -15px; vertical-align: middle; letter-spacing: 4px; border-radius: 0 3px 3px 0;}
#index-image .title-main {background-color: #E48782;}
#index-news .title-main { background-color: #03a9f4;}
.panel-title .title-side { display: inline-block; font-family: "Times New Roman"; margin-left: 10px; font-size: 20px; font-weight: bold; vertical-align: middle; text-transform:Uppercase;}
/*card*/
.card{display: inline-block;width: 100%;color: #000;background: #fff;box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12);}
.card{position:relative;overflow:hidden;margin:.5rem 0 1rem 0;background-color:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-clip:padding-box}
.card .card-title.activator{cursor:pointer}
.card a{color:#009688;-webkit-transition:color .3s ease;-moz-transition:color .3s ease;-o-transition:color .3s ease;-ms-transition:color .3s ease;transition:color .3s ease;text-transform:uppercase}
.card a:hover{color:#00796b}
.card.small{height:300px;position:relative}
.card.small .card-image{overflow:hidden;height:150px}
.card.small .card-content{overflow:hidden;height:150px}
.card.small .card-action{position:absolute;bottom:0;left:0;right:0}
.card .card-image{position:relative;overflow:hidden; height: inherit;display:table-cell;width: 280px;height: 175px;}
.card .card-image a {display: inline-block;}
.card .card-image img{-webkit-border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0;background-clip:padding-box;position:relative;left:0;right:0;top:0;bottom:0;width:280px;height:175px;}

.card .card-content{padding:10px 15px;-webkit-border-radius:0 0 2px 2px;-moz-border-radius:0 0 2px 2px;border-radius:0 0 2px 2px;background-clip:padding-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position: inherit;}
.card-content span.on-right {font-size: 14px;}
.card-content span.on-right i{margin-right: 4px;}
.card .card-content .card-title{ margin-bottom: 15px;display: block;}
.card .card-action{border-top:1px solid rgba(160,160,160,0.2);padding:10px 15px}
.card .card-reveal{padding:20px;position:absolute;background-color:#FFF;width:100%;overflow-y:auto;top:100%;height:100%;z-index:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.card .card-reveal .card-title{cursor:pointer;display:block}
.card .card-image .card-title { background-color: rgba(0, 0, 0, 0.64);position: absolute;color:#fff;padding:5px 10px;left:0;right:0;bottom:0;}
.block-author-simple { display: inline-block; margin-right: 10px; color: #333;}
.block-author-simple:hover { text-decoration: none; color: #009688;}
.block-author-simple img.img-circle { width: 24px; height: 24px; vertical-align: middle;margin-right: 4px;}
.block-author-simple span { vertical-align: middle;}

/*首页图文新闻*/
.media-xs .media-heading { font-size: 14px;}
.media-xs .media-object { width: 100px;}
.media-xs .media-description { font-size: 12px;}
.media-list-headline .media { margin-bottom: 0px;}
.media-list-headline .media-heading { text-align: center; font-size: 18px; font-weight: bold; margin-bottom: 10px;}
.media .media-heading { font-size: 14px; font-weight: bold; line-height: 20px; color: #333;}

/* media-list 调整新闻字体*/
.media-text { font-size: 12px; line-height: 1.5em; margin-bottom: 5px;}
.media .media-left .label { padding: 2px 4px; margin-top: 3px; display: block;}
.media .media-description { color: #999; font-size: 12px; line-height: 20px;}
.media .media-info { font-size: 12px;}

/*资讯页站长服务*/
.media-service{border: 1px #ececec solid; width: 100%; margin:20px 0; }
.media-line{border-top: 3px #03a9f4 solid;margin: 0;}
.media-line>li{display: inline-block;zoom:1; padding:10px 15px;}
.media-pic{margin: 20px 0; text-align: center;}

/*最新、最热、下载*/
.panel-heading-high { padding-bottom: 0;}
.panel-heading-high .panel-title { font-size: 20px;}
.panel-heading-high .nav-tabs {display: table;width: 100%;border-bottom: 0;}
.panel-heading-high .nav-tabs>li { display: table-cell; float: none; text-align: center; font-size: 16px;}

/*特效频道推荐*/
.media-col-2 { width: 20%; float: left; margin-top: 0;}
img.media-object-sm { width:150px; height:100px;border-radius: 3px;}
.media-novel .media-object-caption { font-size: 14px; margin-top: 10px; margin-bottom: 0; line-height: 1.8em;}
.media-novel .media-author {font-size: 12px;color: #999;}
.block-index-top { background-color: transparent; padding: 30px 0 0; flex: 1;}
.block-index-top>.container>.panel { padding-top: 10px; padding-bottom: 10px;}
.block-body-bg { background-color: #009688; width: 100%; height: 345px; position: fixed; top: 0; z-index: -1;}

/* 列表 */
.list-vertical { list-style: none; margin-left: 0; padding-left: 0; margin-bottom:10px;}
.list-vertical li { line-height: 2em;}
.list-vertical li a { color: #333;}
.list-vertical li a:hover { color: #009587;}
.list-vertical li .predix { margin-right: 10px; color: #03a9f4;}
.list-rank .media { margin-top: 0;}
.list-rank .media-heading { font-size: 14px;}
.list-rank .media-author { color: #999; font-size: 12px;}

/*tag*/
.list-tags .tag-title{line-height: 2.5em; font-weight: normal; background-color: #ebebe4; color: #009688;}
.list-tags .tag-num{color: #999;}

/* 页脚 */
.block-footer { background-color: #009688; padding: 20px 0; color: rgba(255,255,255,.84);}
.block-footer a { color: rgba(255,255,255,.84);}
.block-footer .list-info a,.block-footer .list-info span { margin-right: 5px;}

/*资讯页文章列表*/
.list-group .list-group-item .row-picture,.list-group .list-group-item .row-action-primary{padding-right:16px}
.list-group .list-group-item .row-picture {float: left;display: inline-block;}
.list-group .list-group-item .row-picture img, .list-group .list-group-item .row-action-primary img { background-color: transparent;}
.list-group .list-group-item .row-picture img {height: 80px;max-width: 135px;width: auto;}
.list-group .list-group-item .row-picture img.circle,.list-group .list-group-item .row-action-primary img.circle{border-radius:100%}
.list-group .list-group-item .row-content {display: inline-block;width:calc(100% - 160px);min-height: 66px;}
.row-date{background-image: url("../images/date.jpg"); background-repeat: no-repeat; max-width:100%;width: auto;}
.row-date>ul>li{font-family: "tahoma"; font-size: 16px;color:#009587;width:84px;line-height: 44px; font-weight: 500;}
.row-date>ul>li.big{font-size: 28px;margin-bottom: 10px;}
.list-group .list-group-separator {clear: both;
    overflow: hidden;margin-top: 10px;margin-bottom: 10px;}
.list-group .list-group-separator:before {content: "";
    width: calc(100% - 90px);border-bottom: 1px solid rgba(0,0,0,.1);float: right;}

.list-comment-container {margin-top: 8px;}
.list-group .list-group-item .row-content .least-content {
    position: absolute;right: 16px;top: 0;color: rgba(0,0,0,.54);font-size: 14px;}
.list-group.list-comment .list-group-item .list-group-item-heading {font-size: 14px;color: #009688;}
.list-group.list-comment .list-group-item .row-picture img {width: 48px; height: 48px;}
.list-comment .list-comment-date {color: #8c8c8c;font-size: 12px; font-weight: 400;margin-left: 10px;}
.list-group.list-comment .list-group-item-text {  font-size: 14px;}
.list-comment .list-comment-action {color: #8c8c8c;font-size: 12px;line-height: 1.5em;margin-top: 10px;
    margin-bottom: 0; text-align: right;}
.icon-comment { vertical-align: middle;}
.list-group.list-comment .list-group-separator {margin: 18px 0;}
.list-comment-reply {padding-left: 64px;}
.reply-action:hover {cursor: pointer;color: #009688;}
.reply-form {padding-bottom: 15px;}
.reply-form { display: none;}

/*列表页*/
.breadcrumb a,.breadcrumb a:hover{color:#fff;text-decoration: none}
.panel-heading-action .nav-tabs {margin: -10px -15px -10px;}

/*文章详情页*/
.model { font-size: 16px; padding: 10px 0;}
.model-title { width: 100%; font-size: 20px; font-weight: 400; color: #333; line-height: 24px; text-align: center; margin-bottom: 25px; margin-top: 0; padding-top: 18px;}
.model-info { font-size: 12px; color: #8c8c8c; line-height: 14px; padding-bottom: 20px; text-align: center;}
.model-content { padding: 0 64px; margin-top: 32px;}
.model-description { font-size: 14px; background-color: #ececec; display: block; padding: 15px;}
.model-content p { line-height: 2em; margin-bottom: 1em;}
.model-content img { max-width: 100%;}
.model-content h1 { font-size: 18px; font-weight: bold; margin-bottom: 1em; border-left: 20px solid #666; padding-left: 12px;}
.model-content h2 { font-size: 16px; font-weight: bold; margin-bottom: 1em;}
.model-content h3 { font-size: 16px; margin-bottom: 1em; color: #009688;}
@media (max-width: 1199px){.model-content {padding: 0 10px;}}
.model-nav { background-color: #fbfaf8; padding-bottom: 10px;}
.model-directory { margin: 0 64px;}
.model-directory .list-vertical li { border-bottom: 1px dashed #e5e0d8;}
.model-directory .list-vertical li a { display: block; padding: 10px 0; font-size: 14px;}
.model-directory .list-vertical li a.active{ color: #009587;}
.model-directory .alert { margin-bottom: 0;}
.model-copyright span { vertical-align: middle; font-size: 14px;}
.model-copyright img { height: 20px; margin-right: 5px; vertical-align: middle;}
.icon-star, .icon-star-half, .icon-star-full {color: #ff7437;}

/* author-card 右侧用户信息*/
.author-card-header { background: url("../images/bg-member-header.jpg") no-repeat; background-size: cover; margin-bottom: 0; padding: 10px 15px; border-radius: 2px 2px 0 0;}
.author-card-header a, .author-card-header .list-group-item-text { color: #fff;}

/*特效内容页*/
/*报错按钮*/
.btn-danger:not(.btn-link):not(.btn-flat) {
    background-color: #f44336;margin: 10px 0;}
/*立即下载按钮*/
.btn-success:not(.btn-link):not(.btn-flat) {background-color: #0f9d58; margin: 20px 0;}
/*下载次数按钮*/
.btn-raised {color: #333;box-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);-webkit-transition: box-shadow .28s cubic-bezier(.4,0,.2,1);transition: box-shadow .28s cubic-bezier(.4,0,.2,1);}


/*登录页*/
.body-login{background-color: #009688; width: 100%; height:100%; position: fixed; top: 0; }
.panel-pic{ margin-top: 150px;}
.panel-login {margin-top: 80px; margin-bottom: 120px;}
.panel-in{margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);}
.panel-login .panel-body {padding: 20px 0;}
.login-header {text-align: center; font-size: 18px; font-family:"Microsoft YaHei";}
.login-header>ul>li{display:inline-block; padding:0 40px; line-height: 2em;}
.login-header>ul>li>a{color: #000;}
.login-header>ul>li.active{border-bottom:3px solid #03a9f4; }
.login-header h1 {font-size: 24px; margin-top: 0; line-height: 1.5em;}
/*登录框*/
.panel-login .login-form { padding: 30px 30px 0;text-align: center; color: #333;}
.login-form .input-group {position: relative;}
.login-form .input-group .logpic{font-size: 14px;color: #ccc; float:left;clear:both; padding-top:30px; padding-left:50px;}
.login-form .input-group input{border: 1px solid #e3e3e3;border-radius: 4px;outline: 0;height: 40px;line-height: 40px;font-size: 14px; }
.login-form .input-group input.form-control {margin-bottom: 20px;padding-left: 20px;}
.code{width: 40%;}
.pic{float:left;position:relative; top:14px;left:20px; font-size: 14px; color: #ccc;}
.forget{font-size: 14px;text-align: right;margin-top: 10px; margin-right: 40px; }
.login-footer { padding: 0 30px; font-size: 14px; color: #333;text-align: left;margin: 20px 0 0 30px;}
.form-control-wrapper {position: relative; margin-bottom: 10px;}
.form-control-wrapper .form-control{padding: 0;float: none;border: 0;box-shadow: none;border-radius: 0;background: transparent;border-bottom: 1px solid #757575;}
.form-control-wrapper .form-control:not(textarea):not(select), .form-control:not(textarea):not(select){height: 28px;}
.form-control-wrapper textarea {resize: none;}
.form-control-wrapper .material-input:before {position: absolute;content: "";width: 100%;left: 0;height: 2px;background-color: #009587;bottom: -1px; -webkit-transform: scaleX(0); -ms-transform: scaleX(0);
    transform: scaleX(0); -webkit-transition: -webkit-transform 0s;transition: transform 0s;}
.form-control-wrapper .material-input:after {content: "";position: absolute;height: 18px;width: 100px;margin-top: -1px;top: 7px; left: 0; pointer-events: none; opacity: .9; -webkit-transform-origin: left;
    -ms-transform-origin: left;transform-origin: left;}

.input-group .input-group-addon {border: 0;background: transparent;position:absolute;bottom:5px;right: 50px;}


/* 登录页页脚 */
.block-footer2 { background-color: #00796a;position: fixed; z-index: 1001;bottom: 0;left: 0;right: 0; color: rgba(255,255,255,.84); height:auto;}
.block-footer2 a { color: rgba(255,255,255,.84);}
.block-footer2 .list-info a,.block-footer2 .list-info span { margin-right: 5px;}
.contain{margin: 0 auto;padding: 20px; width: 970px;}
/*登录页结束*/

/*社区交流*/
.newpost {background-color: #ececec;height: 40px;line-height: 39px;margin: 0 0 0;position: relative;z-index: 2;}
.newpost .quealltab {color: #009587;float: left;font-size: 12px;padding: 0 50px;}
.newpost .quealltab.onactive {color: #009587;}
.topic-listcon {height:100px;border-bottom: 1px solid #e3e5e5;padding: 30px 0;}
.headslider {width: 50px;height: 50px;text-align: center;margin-left:30px;float: left;}
.headslider .wenda-head {background: #ccc none repeat scroll 0 0;
    border-radius: 20px;display: inline-block;height: 50px;line-height: 0;overflow: hidden;width: 50px;}
.wendaslider {margin-left:100px;height: 50px;position: relative;padding-left: 10px;}
.wendatitle {font-weight: bold;font-size: 16px;}
.wenda-info {height: 30px;line-height: 30px;color: #aaa;}
.wenda-time {float: left;margin-right: 20px;}
.wenda-brower {position: absolute;min-width: 100px;height: 50px;right: 10px;top: 0;}
a.wenda-box {width: 45px;height: 45px;display: inline-block;text-align: center;background: #EDF1F2;cursor: pointer;color: #666;}
a.wenda-box:hover {text-decoration: none;}

/*个人中心*/
/*个人中心导航右边*/
.block-nav-user-toggle {padding: 15px !important;line-height: 30px !important;}
@media (max-width: 1199px){.block-nav-user-toggle {    padding: 10px 15px !important;}}
.block-nav-user-toggle .img-circle {width: 30px;margin-right: 5px;margin-top: -3px;}
.block-dropmenu-userinfo {padding-top: 0;padding-bottom: 10px;width: 260px;}
.userinfo-header {background-image: url(../images/bg_userinfo_header.jpg);background-size: cover;background-position: center center;width: 260px;
    height: 140px;margin-bottom: 10px;}
.userinfo-mask {background-color: rgba(0,0,0,0.16);
    width: 100%;height: 100%;position: relative;}
.userinfo-header a, .userinfo-header span {color: #efefef;font-size: 16px;line-height: 1em;}
.userinfo-header li.userinfo-avatar {position: absolute;bottom: 48px;left: 20px;}
.userinfo-header li.userinfo-avatar img {width: 54px; height: 54px;}
.userinfo-header li.userinfo-username {position: absolute;left: 0;right: 0;bottom: 10px;padding: 0 20px;}
/*中间用户组等*/
.block-member-header {background-color: #fff;}
.shadow-z-1 {box-shadow: 0 1px 6px rgba(0,0,0,.12), 0 1px 6px rgba(0,0,0,.12);}
.member-header-bg {background-image: url(../images/bg-member-header.jpg);background-size: cover;background-position: center center;margin-bottom: 35px;}
.member-avatar-container {position: relative;text-align: center;}
.member-header-bg .avatar {height: 120px;width: 120px;
    margin: 65px auto -15px;}
.member-info {text-align: center;padding-bottom: 20px;}
.member-info-title {font-size: 24px;margin-top: 10px;margin-top: 0;}
.member-info-text {line-height: 1.5em;margin-bottom: 5px;}

/*左侧个人中心*/
.member-body-container {padding-top: 20px;padding-bottom: 20px;}
.member-sidemenu-header {background-color: #00796b;color: #fff;}
.member-sidemenu-header-title {margin: 0;padding: 11px 20px;font-size: 16px;line-height: 1em;}
.member-sidemenu {display: block;position: initial;
    box-shadow: none;width: 100%;background-color: #009688;border-radius: 0;margin-top: 0;padding-top: 10px;float: none;min-width: inherit;}
.member-sidemenu>li>a {color: #fff;line-height: 2em;}
.member-sidemenu .dropdown-header {color: #efefef;}
.member-sidemenu>li>a:hover {color: #efefef;text-decoration: none;}
.member-sidemenu>.active>a, .member-sidemenu>.active>a:hover, .member-sidemenu>.active>a:focus{color: #fff;
    text-decoration: none;background-color: #428bca;    outline: 0;}

/*右侧个人资料*/
.form-group .control-label{color: rgba(0,0,0,.84);}
.radio label span {display: block;position: absolute;left: 10px;top: 2px;-webkit-transition-duration: .2s;transition-duration: .2s;}
.radio label .circle {border: 2px solid rgba(0,0,0,.84);height: 15px;width: 15px;border-radius: 100%;}
.radio-primary input[type=radio]:checked~.circle {border-color: #009587;}
.radio-primary input[type=radio]:checked~.check {background-color: #009587;}
.radio input[type=radio]:checked~.check {-webkit-transform: scale(.55);-ms-transform: scale(.55);transform: scale(.55);}
.radio label .check {height: 15px; width: 15px;border-radius: 100%; background-color: rgba(0,0,0,.84); -webkit-transform: scale(0);-ms-transform: scale(0);transform: scale(0);}
.radio label .check:after {display: block;position: absolute;content: "";background-color: rgba(0,0,0,.84);left: -18px;top: -18px;height: 50px;width: 50px;border-radius: 100%;z-index: 1;opacity: 0;margin: 0;-webkit-transform: scale(1.5);-ms-transform: scale(1.5);transform: scale(1.5);}
.radio label input[type=radio]:checked~.check:after {-webkit-animation: rippleOn 500ms;animation: rippleOn 500ms;}
/*个人中心结束*/